@page
@model Ejercicios.Pages.ProfeModel
@{
}
<div>

    <h2>Seccion de Hobbies</h2>

    <ul>
        <li>Carros 4x4</li>
        <li>Comida</li>
        <li>Cocinar</li>
        <li>Series Anime</li>
    </ul>

</div>